<div class="container">
    <form class="changed-form">
        <link rel="stylesheet" href="css/changed.css">
        <h1>Cambiado con Exito</h1>
        <p>¡Haz cambiado exitosamente el correo y contraseña!</p>
    </form>