<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dragon Ball Z</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <header>
        <div class="container">
            
            <img src="images/esfera.png" alt="esfera">
            <h1 id="logo">Dragon Ball Z</h1>
            <nav>
                <ul>
                    <li><a href="#biografia">Biografía</a></li>
                    <li><a href="#galeria">Galería</a></li>
                    <li><a href="#tecnicas">Técnicas</a></li>
                    <li><a href="#amigos">Amigos</a></li>
                    <li><a href="#enemigos">Enemigos</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section id="presentacion">
            <div class="container">
                <div class="texto">
                    <h2>Goku - El héroe legendario</h2>
                    <img src="images/goku.jpg" alt="kuku">
                    <p>Goku es un luchador extraordinario, conocido por su valentía y determinación. Acompáñanos en un
                        viaje a través de su increíble historia en Dragon Ball Z.</p>
                </div>
                <a href="#biografia" class="boton">Conoce más</a>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Dragon Ball Z. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>

</html>