<form action="/login" method="POST" class="login-form">

    <h1>Inicio Sesion</h1>
    <link rel="stylesheet" href="css/login.css">
    <input name="email" type="email" placeholder="Email" required>
    <input name="password" type="password" placeholder="Contraseña" required>
    <input type="submit">

</form>